.primaryButton, .primaryButton:focus {
  background: var(--mblue);
  border-radius: 4px;
  display: inline-block;
  padding: 16px 32px;
  color: var(--white);
  font-size: 16px;
  font-weight: 600px;
  transition: all 0.3s linear;
}

.primaryButton:hover {
  cursor: pointer;
  opacity: 0.8;
}