.footerContainer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  background: var(--mblue);
  margin-top: 60px;
}

.footerContainer p {
  text-align: center;
  color: var(--white);
}

.footerContainer p span {
  color: var(--mred);
}