.contactContainer {
  margin-top: 60px;
}

.contactsContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contactInfo a {
  transition: all 0.3s linear;
}

.contactInfo a:hover {
  padding-left: 9px;
}